/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common-section */
/* html */
html{
    font-family: "Trirong", serif;
    font-size: .8rem;
}

/* body */
body {
    background-color: burlywood;
}

/* container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* flexbox */
.ms_flexbox {
    display: flex;
}

.ms_align-items-center {
    align-items: center;
}

/* typography */
h1 {
    margin: 3rem 0;
    text-align: center;
    color: rgb(122, 0, 0); 
    transition-duration: 0.3s;
}

h1:hover{
    color: white;
    transform: scale(1.3);
}

h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: rgb(122, 0, 0);
    transition-duration: 0.3s; 
}

h2:hover{
    color: white;
    transform: scale(1.3);
}

/* margin-section */
.ms_mb-1 {
    margin-bottom: 1rem;
}

.ms_mb-2 {
    margin-bottom: .5rem;
}

/* text */
.left-text{
    text-align: left;
}
/* submit */
#submit {
    margin-top: 1.5rem;
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#submit:hover{
    background-color: burlywood;
    color: brown;
    transform: scale(1.3);
    width: 500px;
}

/* name */
#name{
    border: none;
    color: brown;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: 3px solid brown;
}

/* distance */
#distance{
    border: none;
    color: brown;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: 3px solid brown;
}

/* age */
#age{
    border: none;
    color: brown;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: 3px solid brown;
}


/* main-section */
.ms_form-card {
    width: 80%;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    color: rgb(122, 0, 0); 
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50px;
    box-shadow: 10px 10px 8px brown;
    transition-duration: 0.3s;
}

#schedule_1:hover{ 
    cursor: pointer;
    width: 100%;
    transform: scale(1.1);
}

/* ticket-card */
.ms_ticket-card {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50px;
    color: rgb(122, 0, 0); 
    padding: 2rem 4rem;
    background-color: lightgoldenrodyellow;
    box-shadow: 10px 10px 8px brown;
    transition-duration: 0.3s;
}

#schedule_2:hover{ 
    cursor: pointer;
    width: 100%;
    transform: scale(1.1);
}

.ms_ticket-left {
    width: 25%;
    border-right: 5px dashed brown;
}

/* ticket-number */
.ms_ticket-number {
    width: 25%;
    text-align: center;
    border-right: 5px dashed brown;
}