/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common-section */
/* body */
body {
    background-color: burlywood;
}

/* container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* flexbox */
.ms_flexbox {
    display: flex;
}

.ms_align-items-center {
    align-items: center;
}

/* typography */
h1 {
    margin: 3rem 0;
    text-align: center;
    color: grey;
}

h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: grey;
}

/* margin-section */
.ms_mb-1 {
    margin-bottom: 1rem;
}

.ms_mb-2 {
    margin-bottom: 1.5rem;
}

/* text */
.left-text{
    text-align: left;
}
/* submit */
#submit {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}

/* name */
#name{
    border: none;
    color: brown;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: 3px solid brown;
}

/* distance */
#distance{
    border: none;
    color: brown;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: 3px solid brown;
}

/* age */
#age{
    border: none;
    color: brown;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: 3px solid brown;
}


/* main-section */
.ms_form-card {
    width: 80%;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    color: grey;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50px;
    border: 3px solid brown;
}

